<div class="col-lg-6">
    <h1>{{title}}</h1>
    
    <!-- Messages -->
    <div class="alert alert-success" *ngIf="status == 'success'">
        Se guardo el producto exitosamente.
    </div>
    <div class="alert alert-error" *ngIf="status == 'error'">
        Error al guardar el producto.
    </div>

    <form #productForm="ngForm" (ngSubmit)="onGuardar()">
        <div class="form-group">
            <label>Nombre</label>
            <input type="text" class="form-control" #name="ngModel" name="name" [(ngModel)]="product.name" placeholder="Ingrese el nombre" required>
            <span *ngIf="!name.valid && name.touched">
                El nombre es requerido
            </span>
            
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Costo</label>
            <input type="number" class="form-control" #cost="ngModel" name="cost" [(ngModel)]="product.cost" placeholder="Ingrese el costo" required>
            <span *ngIf="!cost.valid && cost.touched">
                    El costo es requerido
                </span>
        </div>
        <div class="form-group">
                <label for="exampleInputEmail1">Peso</label>
                <input type="number" class="form-control" #weight="ngModel" name="weight" [(ngModel)]="product.weight" placeholder="Ingrese el peso" required>
                <span *ngIf="!weight.valid && weight.touched">
                        El peso es requerido
                    </span>
            </div>
        <!-- <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div> -->
        <button type="submit" class="btn btn-primary" [disabled]="!productForm.form.valid">Guardar</button>
    </form>

</div>
